@import "~bootstrap/scss/bootstrap";
@import "./banner.scss";
@import "./table.scss";
@import "./memberlogo.scss";


.cardHover {
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}

.cardHover:hover {
      transform: translateY(-5px);
      box-shadow: 0px 0px 20px 5px #b3b3b3;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.05em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote + cite {
  margin-top: -24px;
  display: flex;
  justify-content: flex-end;
}

blockquote + p:has(> cite) {
  margin-top: -24px;
  display: flex;
  justify-content: flex-end;
}

@keyframes rainbow {
  100%,
  0% { fill: rgb(255, 0, 0); }
  8% { fill: rgb(255, 127, 0); }
  16% { fill: rgb(255, 255, 0); }
  25% { fill: rgb(127, 255, 0); }
  33% { fill: rgb(0, 255, 0); }
  41% { fill: rgb(0, 255, 127); }
  50% { fill: rgb(0, 255, 255); }
  58% { fill: rgb(0, 127, 255); }
  66% { fill: rgb(0, 0, 255); }
  75% { fill: rgb(127, 0, 255); }
  83% { fill: rgb(255, 0, 255); }
  91% { fill: rgb(255, 0, 127); }
}

.bg-dark .soafee-logo {
  fill: #fff;
}

.animate .soafee_svg__C1 {
  animation: rainbow 6s linear;
  animation-iteration-count: infinite;
}

.animate .soafee_svg__C2 {
  animation: rainbow 6s linear;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}

.animate .soafee_svg__C3 {
  animation: rainbow 6s linear;
  animation-iteration-count: infinite;
  animation-delay: -2s;
}

.animate .soafee_svg__C4 {
  animation: rainbow 6s linear;
  animation-iteration-count: infinite;
  animation-delay: -3s;
}

.animate .soafee_svg__C5 {
  animation: rainbow 6s linear;
  animation-iteration-count: infinite;
  animation-delay: -4s;
}

.animate .soafee_svg__C6 {
  animation: rainbow 6s linear;
  animation-iteration-count: infinite;
  animation-delay: -5s;
}
